<h2>Guests [<%=Room.find(params[:room_id]).name %>]</h2>
<style>
  td{
    font-size: 20px;
  }
</style>
<%if @guests.count < Room.find(params[:room_id]).slot%>
<%= link_to 'New Guest', new_room_guest_path,class: "btn btn-info" %>
  <%end %>
<%= link_to 'Back', rooms_path,class: "btn btn-warning" %> <br>
<%if @guests.blank? %>
  <p>Nobody in this room</p>
  <%else %>
<div class="container">
  <div class="row">
    <% @guests.each do |guest| %>
      <div class="card col-lg-4 col-md-6 col-sm-8 col-xs-12 ">
        <div class="card-header">
          <%if !guest.image_url.nil? %>
            <%= image_tag guest.image_url ,style: "height: 200px" %>
          <%else %>
            <%= image_tag "/assets/img_avatar1.png",style: "height: 200px"%>
          <%end %>
        </div>
        <div class="card-body">
          <div><i style='font-size:24px' class='fas'>&#xf007;</i> Name : <b> <%= guest.name %></b></div>
          <div><i style='font-size:24px' class='fas'>&#xf1fd;</i> Birthday : <%= guest.birth %></div>
          <div><i style='font-size:24px' class='fas'>&#xf2b9;</i> Address : <%= guest.address %></div>
          <div><i style='font-size:24px' class="material-icons">&#xe8a6;</i> ID Card : <%= guest.identitycard %></div>
          <div><i style='font-size:24px' class="material-icons">&#xe324;</i> Phone : <%= guest.phonenumber %></div>
          <div><i style='font-size:24px' class='fas'>&#xf255;</i> Job : <%= guest.job %></div>
          <div><i style='font-size:24px' class='fas'>&#xf249;</i> Note : <%= guest.notice %></div>
          <div><i style='font-size:24px' class="material-icons">&#xe0be;</i> Email : <%= guest.email %></div>
        </div>
        <div class="card-footer">
          <div class="row">
            <%= link_to 'Edit', edit_room_guest_path(guest.room_id,guest),class: "btn btn-success col-md-6" %>
            <%= link_to 'Destroy', room_guest_path(guest.room_id,guest), method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger col-md-6"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%end %>
