<p id="notice"><%= notice %></p>

<h1>Guests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birth</th>
      <th>Address</th>
      <th>Identitycard</th>
      <th>Phonenumber</th>
      <th>Image</th>
      <th>Job</th>
      <th>Notice</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.name %></td>
        <td><%= guest.birth %></td>
        <td><%= guest.address %></td>
        <td><%= guest.identitycard %></td>
        <td><%= guest.phonenumber %></td>
        <td><%= guest.image %></td>
        <td><%= guest.job %></td>
        <td><%= guest.notice %></td>
        <td><%  guest.room.name %></td>
        <td><%= link_to 'Show', guest %></td>
        <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
        <td><%= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guest', new_room_guest_path %>
