<div class="container center-block" >
  <div class="row">
    <div class="col-md-offset-4 "></div>
    <div class="col-md-4 ">
<%= form_with(model: devices_room, local: true) do |form| %>
  <% if devices_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(devices_room.errors.count, "error") %> prohibited this devices_room from being saved:</h2>

      <ul>
      <% devices_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%#= form.text_field :status %>
    <%= form.select(:status, options_for_select([['Normal','normal'],['Low Broken','low'],['High Broken','high']])) %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity ,class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :datebegin %>
    <%= form.date_select :datebegin ,class: "form-control"%>
  </div>
  <div class="field">
    <%= form.label :device_id %>
    <%= form.select(:device_id, options_for_select(@devices),class: "form-control") %>
  </div>
  <%= form.hidden_field :room_id ,value: params[:room_id] %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
    </div>
  </div>
</div>
