<%= form_with(model: billing, local: true) do |form| %>
  <% if billing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(billing.errors.count, "error") %> prohibited this billing from being saved:</h2>

      <ul>
      <% billing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :electric %>
    <%= form.number_field :electric %>
  </div>

  <div class="field">
    <%= form.label :water %>
    <%= form.number_field :water %>
  </div>

  <div class="field">
    <%= form.label :internet %>
    <%= form.number_field :internet %>
  </div>

  <div class="field">
    <%= form.label :cleaner %>
    <%= form.number_field :cleaner %>
  </div>

  <div class="field">
    <%= form.label :parking %>
    <%= form.number_field :parking %>
  </div>

  <div class="field">
    <%= form.label :laundry %>
    <%= form.number_field :laundry %>
  </div>

  <div class="field">
    <%= form.label :option1 %>
    <%= form.number_field :option1 %>
  </div>

  <div class="field">
    <%= form.label :option2 %>
    <%= form.number_field :option2 %>
  </div>

  <div class="field">
    <%= form.label :option3 %>
    <%= form.number_field :option3 %>
  </div>
  <%= form.hidden_field :services_room_id , value: params[:services_room_id] %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
