<p id="notice"><%= notice %></p>

<h1>Billings</h1>

<table>
  <thead>
    <tr>
      <th>Electric</th>
      <th>Water</th>
      <th>Internet</th>
      <th>Cleaner</th>
      <th>Parking</th>
      <th>Laundry</th>
      <th>Option1</th>
      <th>Option2</th>
      <th>Option3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billings.each do |billing| %>
      <tr>
        <td><%= billing.electric %></td>
        <td><%= billing.water %></td>
        <td><%= billing.internet %></td>
        <td><%= billing.cleaner %></td>
        <td><%= billing.parking %></td>
        <td><%= billing.laundry %></td>
        <td><%= billing.option1 %></td>
        <td><%= billing.option2 %></td>
        <td><%= billing.option3 %></td>
        <td><%= link_to 'Show', billing %></td>
        <td><%= link_to 'Edit', edit_billing_path(billing) %></td>
        <td><%= link_to 'Destroy', billing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billing', new_room_services_room_billing_path %>
