

<h2>Rooms</h2>
<style>
  input[type=text] {
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/app/assets/images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
  }
</style>
<div class="container center-block" >
  <div class="row">
    <div class="col-md-offset-4 "></div>
    <div class="col-md-4 ">
      <%= form_tag(rooms_path, method: :get) do %>
        <%= text_field_tag :r, params[:r] ,placeholder: "Search room"%>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '+ New Room', new_room_path ,class: "btn btn-primary btn-lg"%>

<!--<button data-toggle="collapse" data-target="#tee" class="btn btn-primary">Revenue</button>-->

  <div id = "tee" ></div>

<script>
    Morris.Line({
        // ID of the element in which to draw the chart.
        element: 'tee',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
            { month: '1', value: <%= @array[1].blank? ? 0:@array[1] %> },
            { month: '2', value: <%= @array[2].blank? ? 0:@array[2] %>},
            { month: '3', value: <%= @array[3].blank? ? 0:@array[3] %> },
            { month: '4', value: <%= @array[4].blank? ? 0:@array[4] %> },
            { month: '5', value: <%= @array[5].blank? ? 0:@array[5] %> },
            { month: '6', value: <%= @array[6].blank? ? 0:@array[6] %> },
            { month: '7', value: <%= @array[7].blank? ? 0:@array[7] %> },
            { month: '8', value: <%= @array[8].blank? ? 0:@array[8] %> },
            { month: '9', value: <%= @array[9].blank? ? 0:@array[9] %> },
            { month: '10', value: <%= @array[10].blank? ? 0:@array[10] %> },
            { month: '11', value: <%= @array[11].blank? ? 0:@array[11] %> },
            { month: '12', value: <%= @array[12].blank? ? 0:@array[12] %>}
        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'month',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['value'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Revenue']
    });
</script>

<div class="container" >
  <div class="row" >
    <% @rooms.each do |room| %>
      <div class="card col-lg-2 col-md-6 col-sm-8 col-xs-12 ">
        <div class="card-header bg-info text-white"><%= link_to room.name.upcase, edit_room_path(room) ,class: "btn btn-info text-white",style: "font-size: 20px;font-weight: bold"%><i style='font-size:24px' class='fas'>&#xf236;</i></div>
        <div class="card-body">
            <div class="container">
              <%if room.status == "available" %>
                <div class="text-success"><i style='font-size:24px' class='fas'>&#xf00c;</i>&nbsp;&nbsp; <%= room.status.upcase %></div>
              <%elsif room.status == "hired" %>
                <div class="text-danger"><i style='font-size:24px' class='fas'>&#xf31e;</i>&nbsp;&nbsp; <%= room.status.upcase %></div>
              <%else %>
                <div class="text-warning"><i style='font-size:24px' class='fas'>&#xf6e3;</i>&nbsp;&nbsp; <%= room.status.upcase %></div>
              <%end %>
              <div class="text-info"><i style='font-size:24px' class='far'>&#xf3d1;</i>&nbsp;&nbsp; <%= number_with_delimiter(room.price) %></div>
              <div ><i style='font-size:24px' class='fas'>&#xf500;</i>&nbsp;&nbsp;<%= room.guests.count %> / <%= room.slot %></div>
              <div>Deposit : <%= room.deposit %> </div>
            </div>
        </div>
        <div class="card-footer">
          <div class="row" >
            <%= link_to "Services", room_services_rooms_path(room.id),class: "col-md-6 btn btn-primary"%>
            <%= link_to "Devices", room_devices_rooms_path(room.id),class: "col-md-6 btn btn-success"  %>
          </div>
          <div class="row">
            <%= link_to "Guests", room_guests_path(room.id),class: "col-md-6 btn btn-info"  %>
            <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } ,class: "col-md-6 btn btn-danger"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




<br>


<%#= render 'createmanyrooms' %>
<%#= link_to 'New',newrooms_path %>