<h2>Rooms</h2>
<style>
  input[type=text] {
    width: 170px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/app/assets/images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
  }
</style>
<div class="container center-block" >
  <div class="row">
    <div class="btn-group">
    <%= link_to '+ New Room', new_room_path ,class: "btn btn-success btn-lg"%>
    <%= link_to "Guest",backup_guests_path,class: "btn btn-success btn-lg" %>
    <%= link_to "Chart",chart_path,class: "btn btn-success btn-lg" %>
  </div>
    <div class="col-md-offset-7 "></div>
    <div class="col-md-3 ">
      <%= form_tag(rooms_path, method: :get) do %>
        <%= text_field_tag :r, params[:r] ,placeholder: "Search room"%>
      <% end %>
    </div>
  </div>
</div>


<div class="dropdown">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
    Status
  </button>
  <div class="dropdown-menu">
    <%= form_tag(rooms_path, method: :get) do %>
      <%#= submit_tag "All" ,class: "dropdown-item btn btn-lg", co%>
      <%#= Room.where("admin_id = ?",current_admin.id).count.to_s%>
      <button class="dropdown-item btn btn-lg" type="submit" name = "commit" value="All">
        All -  <%= Room.where("admin_id = ?",current_admin.id).count.to_s%>
      </button>
    <% end %>
    <%= form_tag(rooms_path, method: :get) do %>
      <%#= submit_tag "Available ",class: "dropdown-item btn btn-success btn-lg"%>
      <button class="dropdown-item btn btn-lg" type="submit" name = "commit" value="Available">
        Available -  <%= Room.where("admin_id = ? and status = 'available'",current_admin.id).count.to_s%>
      </button>
    <% end %>
    <%= form_tag(rooms_path, method: :get) do %>
      <%#= submit_tag "Hired" ,class: " dropdown-item btn btn-danger btn-lg"%>
      <button class="dropdown-item btn btn-lg" type="submit" name = "commit" value="Hired">
        Hired -  <%= Room.where("admin_id = ? and status = 'hired'",current_admin.id).count.to_s%>
      </button>
  <% end %>
    <%= form_tag(rooms_path, method: :get) do %>
      <%#= submit_tag "Fixing" ,class: "dropdown-item btn btn-warning btn-lg" %>
      <button class="dropdown-item btn btn-lg" type="submit" name = "commit" value="Fixing">
        Fixing -  <%= Room.where("admin_id = ? and status = 'fixing'",current_admin.id).count.to_s%>
      </button>
  <% end %>
    <%= form_tag(rooms_path, method: :get) do %>
      <button class="dropdown-item btn btn-lg" type="submit" name = "commit" value="Debt">
        Debt -  <%= @room1.to_a.size%>
      </button>

      <%#= submit_tag "Debt" ,class: "dropdown-item btn btn-secondary btn-lg" %>
    <% end %>
  </div>
</div>





<%#for i in @room.size %>
<%if @room %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th>Debt</th>
      </tr>
    </thead>
    <tboby>
      <%@room.to_a.each do |r| %>
      <tr>
        <td><%=r[1]%></td>
        <td><%=r[5]%></td>
        <td><%=r[6]%></td>
        <td><%=r[4]%></td>
      </tr>
      <%end %>
    </tboby>

  </table>
<%end %>





<!--<%#= link_to 'Home',root_path,class: "btn btn-warning" %> <br>-->

<div class="container" >
  <div class="row" >
    <% @rooms.each do |room| %>
      <div class="card col-lg-2 col-md-6 col-sm-8 col-xs-12 ">
        <div class="card-header bg-info text-white"><%= link_to room.name.upcase, edit_room_path(room) ,class: "btn btn-info text-white",style: "font-size: 20px;font-weight: bold"%><i style='font-size:24px' class='fas'>&#xf236;</i></div>
        <div class="card-body">
            <div class="container">
              <%if room.status == "available" %>
              <%#if room.guests.count.to_i == 0 %>
                <div class="text-success"><i style='font-size:24px' class='fas'>&#xf00c;</i>&nbsp;&nbsp; AVAILABLE</div>
              <%#elsif room.guests.count.to_i > 0 %>
                <%elsif room.status == 'hired' %>
                <div class="text-danger"><i style='font-size:24px' class='fas'>&#xf31e;</i>&nbsp;&nbsp;HIRED</div>
              <%else %>
                <div class="text-warning"><i style='font-size:24px' class='fas'>&#xf6e3;</i>&nbsp;&nbsp; FIXING</div>
              <%end %>
              <div class="text-info"><i style='font-size:24px' class='far'>&#xf3d1;</i>&nbsp;&nbsp; <%= number_with_delimiter(room.price) %></div>
              <div ><i style='font-size:24px' class='fas'>&#xf500;</i>&nbsp;&nbsp;<%= room.guests.count %> / <%= room.slot %></div>
              <div>Deposit : <%= room.deposit %> </div>
<!--              <div>Payment :-->
                <%#if room.services_rooms.last.billings && room.services_rooms.last.billings.last.payment == true%>
<!--                  <i style='font-size:24px ;color: green' class='fas'>&#xf058;</i>-->
                <%#elsif room.services_rooms.last.billings.last.payment == false%>
<!--                  <i style='font-size:24px ;color: red' class="material-icons">&#xe5c9;</i>-->
                <%#end %>
                <%#= room.services_rooms.last.billings.last.payment %>
<!--              </div>-->
            </div>
        </div>
        <div class="card-footer">
          <div class="row" >
            <%= link_to "Services", room_services_rooms_path(room.id),class: "col-md-6 btn btn-primary"%>
            <%= link_to "Devices", room_devices_rooms_path(room.id),class: "col-md-6 btn btn-success"  %>
          </div>
          <div class="row">
            <%= link_to "Guests", room_guests_path(room.id),class: "col-md-6 btn btn-info"  %>
            <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } ,class: "col-md-6 btn btn-danger"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
