<h2>Rooms</h2>
<style>
  input[type=text] {
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/app/assets/images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
  }
</style>
<div class="container center-block" >
  <div class="row">
    <div class="col-md-offset-4 "></div>
    <div class="col-md-4 ">
      <%= form_tag(rooms_path, method: :get) do %>
        <%= text_field_tag :r, params[:r] ,placeholder: "Search room"%>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '+ New Room', new_room_path ,class: "btn btn-primary btn-lg"%>

<%= link_to "Chart",chart_path,class: "btn btn-success btn-lg" %>

<div class="container" >
  <div class="row" >
    <% @rooms.each do |room| %>
      <div class="card col-lg-2 col-md-6 col-sm-8 col-xs-12 ">
        <div class="card-header bg-info text-white"><%= link_to room.name.upcase, edit_room_path(room) ,class: "btn btn-info text-white",style: "font-size: 20px;font-weight: bold"%><i style='font-size:24px' class='fas'>&#xf236;</i></div>
        <div class="card-body">
            <div class="container">
              <%if room.status == "available" %>
                <div class="text-success"><i style='font-size:24px' class='fas'>&#xf00c;</i>&nbsp;&nbsp; <%= room.status.upcase %></div>
              <%elsif room.status == "hired" %>
                <div class="text-danger"><i style='font-size:24px' class='fas'>&#xf31e;</i>&nbsp;&nbsp; <%= room.status.upcase %></div>
              <%else %>
                <div class="text-warning"><i style='font-size:24px' class='fas'>&#xf6e3;</i>&nbsp;&nbsp; <%= room.status.upcase %></div>
              <%end %>
              <div class="text-info"><i style='font-size:24px' class='far'>&#xf3d1;</i>&nbsp;&nbsp; <%= number_with_delimiter(room.price) %></div>
              <div ><i style='font-size:24px' class='fas'>&#xf500;</i>&nbsp;&nbsp;<%= room.guests.count %> / <%= room.slot %></div>
              <div>Deposit : <%= room.deposit %> </div>
            </div>
        </div>
        <div class="card-footer">
          <div class="row" >
            <%= link_to "Services", room_services_rooms_path(room.id),class: "col-md-6 btn btn-primary"%>
            <%= link_to "Devices", room_devices_rooms_path(room.id),class: "col-md-6 btn btn-success"  %>
          </div>
          <div class="row">
            <%= link_to "Guests", room_guests_path(room.id),class: "col-md-6 btn btn-info"  %>
            <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } ,class: "col-md-6 btn btn-danger"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<%= link_to 'Home',root_path,class: "btn btn-warning" %>