

<h2>Rooms</h2>
<style>
  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/app/assets/images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
  }
</style>
<div class="container center-block" >
  <div class="row">
    <div class="col-md-offset-4 "></div>
    <div class="col-md-4 ">
      <%= form_tag(rooms_path, method: :get) do %>
        <%= text_field_tag :r, params[:r] %>
        <%#= submit_tag, name: nil%>
      <% end %>
    </div>
  </div>
</div>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Price</th>
      <th>Slot</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.status %></td>
        <td><%= room.price %></td>
        <td><%= room.slot %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "List Devices", room_devices_rooms_path(room.id) %></td>
        <td><%= link_to "List Guests", room_guests_path(room.id) %></td>
        <td><%= link_to "List Services used", room_services_rooms_path(room.id) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
<%#= render 'createmanyrooms' %>
<%#= link_to 'New',newrooms_path %>