<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Price</th>
      <th>Slot</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.status %></td>
        <td><%= room.price %></td>
        <td><%= room.slot %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "List Devices", room_devices_rooms_path(room.id) %></td>
        <td><%= link_to "List Guests", room_guests_path(room.id) %></td>
        <td><%= link_to "List Services used", room_services_rooms_path(room.id) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
