<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>BILL</h3>
<table>
  <tbody>
  <tr><%= @billing.services_room.room.name %></tr>
  <tr>From : <%= @billing.services_room.datebegin %></tr>
  <tr>To : <%= @billing.services_room.dateend %></tr>
  <tr>Exported at : <%= Time.now %></tr>
  <tr></tr>
  </tbody>
</table>


<table border="1">
  <thead>
  <tr>
    <th>No</th>
    <th>Service</th>
    <th>Used</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Electricity</td>
    <td><%= @billing.services_room.electbegin %>   <%= @billing.services_room.electend %> => <%= @billing.services_room.electend - @billing.services_room.electbegin %></td>
    <td><%= @billing.electric %></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Water</td>
    <td><%= @billing.services_room.waterbegin %>   <%= @billing.services_room.waterend %> => <%= @billing.services_room.waterend - @billing.services_room.waterbegin %></td>
    <td><%= @billing.water %></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Internet</td>
    <td><%= @billing.services_room.internet %></td>
    <td><%= @billing.internet %></td>
  </tr>
  <tr>
    <td>4</td>
    <td>Cleaner</td>
    <td><%= @billing.services_room.cleaner %></td>
    <td><%= @billing.cleaner %></td>
  </tr>
  <tr>
    <td>5</td>
    <td>Parking</td>
    <td><%= @billing.services_room.parking %></td>
    <td><%= @billing.parking %></td>
  </tr>
  <tr>
    <td>6</td>
    <td>Laundry</td>
    <td><%= @billing.services_room.laundry %> </td>
    <td><%= @billing.laundry %></td>
  </tr>
  <tr>
    <td>7</td>
    <td>Option 1</td>
    <td><%= @billing.services_room.option1 %></td>
    <td><%= @billing.option1 %></td>
  </tr>
  <tr>
    <td>8</td>
    <td>Option 2</td>
    <td><%= @billing.services_room.option2 %></td>
    <td><%= @billing.option2 %></td>
  </tr>
  <tr>
    <td>9</td>
    <td>Option 3</td>
    <td><%= @billing.services_room.option3 %></td>
    <td><%= @billing.option3 %></td>
  </tr>
  <tr>
    <td>10</td>
    <td>Renting fee</td>
    <td><%= 1 %></td>
    <td><%= @billing.rentingfee %></td>
  </tr>
  <tr>
    <td>11</td>
    <td colspan="2">Bonus/Minus</td>
    <td><%= @billing.bominus %></td>
  </tr>
  <tr>
    <td colspan="3">TOTAL</td>
    <td><b><%= @billing.total %></b></td>
  </tr>
  </tbody>
</table>
<p><%= @billing.note %></p>
<p><i>Please make payment no later than 5 days after receiving the notice !</i></p>
<br>
</body>
</html>